<div ng-controller='EventsCtlr as newEvent'>
  <form ng-submit="newEvent.addEvent(event)">
     Name: <input type="text" ng-model="event.name">
     <br />
     Image URL: <input type="text" ng-model="event.image" /><br />
     Starts: <input type="text" ng-model="event.start_date" />
     <br />
     Description: <input type="text-area" ng-model="event.description" />
     <input type="submit" value="Add Event">
  </form>
</div>
 <div ng-controller="EventsIndexCtrl" ng-repeat="event in events">
  <div class="row">
    <div class="col-xs-4">
      <img ng-src="{{event.image}}" class="img-responsive img-limits">
    </div>
  <div class="col-xs-8">
    <h5><a ng-href="/events/{{event.id}}">{{event.name}}</a></h5>
  </div>
</div>